### **Easy Visa Dataset**

### **Phase 1: Data Collection and Preparation**

In [108]:
# importing necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [109]:
def handle_eda():
     # Task 1.1: Loading the dataset from url.
    url = "https://raw.githubusercontent.com/ek-chris/Practice_datasets/refs/heads/main/EasyVisa%20(1).csv"
    
    # Task 1.2: Loading the dataset into a Pandas DataFrame.
    df = pd.read_csv(url)
    print("Data Loaded Successfully")
    df.head()

In [110]:
#  loading the dataset
def load_data():
    # Task 1.1: Loading the dataset from url.
    url = "https://raw.githubusercontent.com/ek-chris/Practice_datasets/refs/heads/main/EasyVisa%20(1).csv"
    
    # Task 1.2: Loading the dataset into a Pandas DataFrame.
    df = pd.read_csv(url)
    print("Data Loaded Successfully")
    return df

In [111]:
# calling the function to load the data
df = load_data()
# previeving the first 5 rows of the dataset
df.head()

Data Loaded Successfully

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

**Task 1.3: Inspect the dataset for missing values and handle them appropriately.**

In [112]:
# checking the columns in the dataset
df_columns = df.columns
df_columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [113]:
# checking the shape of the dataset
df.shape

(25480, 12)

In [114]:
  # creating a copy of the data
df_visa =df.copy()
df_visa.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [ ]:
# checking the for missing values and handling missing values
def missing_values():
    # checking the columns in the dataset
    df_visa_cols = df_visa.columns
    for col in df_visa_cols:
        missing_value_count = df[col].isna().sum()
        percent_missing = (missing_value_count/len(df))*100
        # print(f"{col} : {missing_value_count}")
        if  percent_missing >1<= 5:
            df_visa.dropna()
            print("Dropped missing values")
        elif percent_missing >5:
            num_cols = [x for x in df_visa.select_dtypes(include=["int64", "float64"]).columns] 
            cat_cols = [x for x in df_visa.select_dtypes(include=["object"]).columns]
            if col in num_cols:
                median_value= df_visa[col].median()
                df_visa[col].fillna(median_value, inplace=True)
                print("Filled with median value")
            if col in cat_cols:
                mode_value  = df_visa[col].mode()
                df[col].fillna(mode_value, inplace = True)  
                print("Filled with mode value") 
                       
        elif percent_missing == 0: 
            print("No missing values")
            print(f"{col} : {missing_value_count}")  
        else:
            print(f"{col} : {missing_value_count}")    
missing_values()

No missing values
case_id : 0
No missing values
continent : 0
No missing values
education_of_employee : 0
No missing values
has_job_experience : 0
No missing values
requires_job_training : 0
No missing values
no_of_employees : 0
No missing values
yr_of_estab : 0
No missing values
region_of_employment : 0
No missing values
prevailing_wage : 0
No missing values
unit_of_wage : 0
No missing values
full_time_position : 0
No missing values
case_status : 0

In [116]:
# checking the dataset for duplicated values
df_visa.duplicated().sum()

np.int64(0)

In [117]:
# checking the datatype of the dataset
df_visa.dtypes

case_id                   object
continent                 object
education_of_employee     object
has_job_experience        object
requires_job_training     object
no_of_employees            int64
yr_of_estab                int64
region_of_employment      object
prevailing_wage          float64
unit_of_wage              object
full_time_position        object
case_status               object
dtype: object

In [118]:
df_visa.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [119]:

# setting the index of the dataset to case_id 
def setting_index():
    df_visa.set_index("case_id", inplace=True)
    return df_visa.head()

setting_index()

,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
case_id,,,,,,,,,,,
EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [120]:
# visa.head()

In [121]:
# saving a copy of the data
def save_data():
    easy_visa = df_visa.to_csv("visa_cleaned.csv", index=False)
    return easy_visa
save_data()

In [122]:
# checking the dataset for duplicated values
# def duplicates():
#     for col in df_columns:
#         duplicated_values = df[col].duplicated().sum()
#         print(f"{col}: {duplicated_values}")
# duplicates()